@keyframes rainbow {
    0% {
        background-position: 0% 0%;
    }

    30% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    80% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


@keyframes scrolling {
    from {
        opacity: 0.3;
        scale: 0.7;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}



@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
        background-position: 0% 0%;
    }

    100% {
        --gradient-angle: 360deg;
        background-position: 100% 100%;
    }
}